<!-- _includes/header.html -->

<header class="site-header">
    <div class="container">
        <h1 class="site-title"><a href="{{ https://data-rob.github.io/NBA-Analytics/ }}/">{{ site.title }}</a></h1>
        <nav class="site-navigation">
            <ul class="menu">
                <li class="menu-item"><a href="{{ https://data-rob.github.io/NBA-Analytics/ }}/">Home</a></li>
                <li class="menu-item"><a href="{{ https://data-rob.github.io/NBA-Analytics/ }}/about">About</a></li>
                <li class="menu-item"><a href="{{ https://data-rob.github.io/NBA-Analytics/ }}/contact">Contact</a></li>
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </div>
</header>
